.Header {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .Logo {
    max-width: 150px;
    padding: 5px;
  }
  
  .Menu {
    display: flex;
    gap: 20px;
  }
  
  .Menu a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .MenuToggle {
    display: none;
    cursor: pointer;
  }
  
  .MenuToggle:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 768px) {
    .Menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #fff;
      width: 100%;
      padding: 20px;
    }
  
    .Menu.show {
      display: flex;
    }
  
    .MenuToggle {
      display: block;
    }
  }
  